*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: yellow;
    margin-bottom: 10px;
    padding-left: 00px;

}

.containerA{
    border: 3px solid red;
    height: 100vh;
}